@function hexToRGB($hex) {
    @return red($hex), green($hex), blue($hex);
}

:root {
    --mainBackgroundColor: #f7f8f9;

    --darkTextColor: #101d42;
    --lightTextColor: #9facbd;

    --cardDividerColor: rgba(151, 151, 151, 0.3);

}

.dark-theme {
}

// Z-INDEX
$Z-loadingMask: 1000
