@function hexToRGB($hex) {
    @return red($hex), green($hex), blue($hex);
}

:root {
    --mainBackgroundColor: #f7f8f9;
    --lightBackgroundColor:#9facbd;

    --darkTextColor: #101d42;
    --lightTextColor: #9facbd;
    --linkTextColor: blue;

    --accentColor1A:#ff4081;
    --accentColor1B: #0067dc;

    --accentColor2A:#a4243b;
    --accentColor2B: red;

    --accentColor3A:#233d4d;
    --accentColor3B: #61e294;


    --cardDividerColor: rgba(151, 151, 151, 0.3);

}

.dark-theme {
}

// Z-INDEX
$Z-loadingMask: 1000
