<div *ngIf="!isLoading; else showLoadingMask" class="page-container">
    <mat-toolbar color="primary" class="toolbar">
        <span class="toolbar--heading">Coronavirus Dashboard</span>
        <span class="example-spacer"> </span>
        <span class="toolbar--info">Date: {{date | date: 'short'}}</span>
    </mat-toolbar>

    <main class="outlet-container">
        <router-outlet></router-outlet>
    </main>

</div>

<ng-template #showLoadingMask>

    <loading-mask
        [text]="'Loading Today Data...'">
    </loading-mask>

</ng-template>
