<section>
    <h1 class="section-heading">Global Trends</h1>

    <div class="row">
        <div class="col-2">
            <mat-card class="highlight-card">
                <h3 class="highlight-card--header">Newly Confirmed Cases</h3>
                <span *ngIf="isSummaryLoaded; else showLoader"
                    class="highlight-card--value">
                    {{globalSummary ? globalSummary.NewConfirmed : 0}}
                </span>
                <ng-template #showLoader>
                    <div class="highlight-card--progress">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </div>
                </ng-template>
            </mat-card>
        </div>

        <div class="col-2">
            <mat-card class="highlight-card">
                <h3 class="highlight-card--header">Total Confirmed Cases</h3>
                <span *ngIf="isSummaryLoaded; else showLoader"
                    class="highlight-card--value">
                    {{globalSummary ? globalSummary.TotalConfirmed : 0}}
                </span>
                <ng-template #showLoader>
                    <div class="highlight-card--progress">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </div>
                </ng-template>
            </mat-card>
        </div>

        <div class="col-2">
            <mat-card class="highlight-card">
                <h3 class="highlight-card--header">New Deaths</h3>
                <span *ngIf="isSummaryLoaded; else showLoader"
                    class="highlight-card--value">
                    {{globalSummary ? globalSummary.NewDeaths : 0}}
                </span>
                <ng-template #showLoader>
                    <div class="highlight-card--progress">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </div>
                </ng-template>
            </mat-card>
        </div>

        <div class="col-2">
            <mat-card class="highlight-card">
                <h3 class="highlight-card--header">Total Deaths</h3>
                <span *ngIf="isSummaryLoaded; else showLoader"
                    class="highlight-card--value">
                    {{globalSummary ? globalSummary.TotalDeaths : 0}}
                </span>
                <ng-template #showLoader>
                    <div class="highlight-card--progress">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </div>
                </ng-template>
            </mat-card>
        </div>

        <div class="col-2">
            <mat-card class="highlight-card">
                <h3 class="highlight-card--header">New Recoveries</h3>
                <span *ngIf="isSummaryLoaded; else showLoader"
                    class="highlight-card--value">
                    {{globalSummary ? globalSummary.NewRecovered : 0}}
                </span>
                <ng-template #showLoader>
                    <div class="highlight-card--progress">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </div>
                </ng-template>
            </mat-card>
        </div>

        <div class="col-2">
            <mat-card class="highlight-card">
                <h3 class="highlight-card--header">Total Recoveries</h3>
                <span *ngIf="isSummaryLoaded; else showLoader"
                    class="highlight-card--value">
                    {{globalSummary ? globalSummary.TotalRecovered : 0}}
                </span>
                <ng-template #showLoader>
                    <div class="highlight-card--progress">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </div>
                </ng-template>
            </mat-card>
        </div>

    </div>
</section>