<section>
    <h1 class="section-heading">Global Outlook</h1>

    <div class="row">
        <div class="col-2">
            <mat-card class="highlight-card">
                <h3 class="highlight-card--header">Newly Confirmed Cases</h3>
                <span *ngIf="isSummaryLoaded; else showLoader"
                    class="highlight-card--value">
                    {{(globalSummary ? globalSummary.NewConfirmed : 0) |
                    number:'1.0':'en-US'}}
                </span>
                <ng-template #showLoader>
                    <div class="highlight-card--progress">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </div>
                </ng-template>
            </mat-card>
        </div>

        <div class="col-2">
            <mat-card class="highlight-card">
                <h3 class="highlight-card--header">Total Confirmed Cases</h3>
                <span *ngIf="isSummaryLoaded; else showLoader"
                    class="highlight-card--value">
                    {{(globalSummary ? globalSummary.TotalConfirmed : 0) |
                    number:'1.0':'en-US'}}
                </span>
                <ng-template #showLoader>
                    <div class="highlight-card--progress">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </div>
                </ng-template>
            </mat-card>
        </div>

        <div class="col-2">
            <mat-card class="highlight-card">
                <h3 class="highlight-card--header">New Deaths</h3>
                <span *ngIf="isSummaryLoaded; else showLoader"
                    class="highlight-card--value">
                    {{(globalSummary ? globalSummary.NewDeaths : 0) |
                    number:'1.0':'en-US'}}
                </span>
                <ng-template #showLoader>
                    <div class="highlight-card--progress">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </div>
                </ng-template>
            </mat-card>
        </div>

        <div class="col-2">
            <mat-card class="highlight-card">
                <h3 class="highlight-card--header">Total Deaths</h3>
                <span *ngIf="isSummaryLoaded; else showLoader"
                    class="highlight-card--value">
                    {{(globalSummary ? globalSummary.TotalDeaths : 0) |
                    number:'1.0':'en-US'}}
                </span>
                <ng-template #showLoader>
                    <div class="highlight-card--progress">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </div>
                </ng-template>
            </mat-card>
        </div>

        <div class="col-2">
            <mat-card class="highlight-card">
                <h3 class="highlight-card--header">New Recoveries</h3>
                <span *ngIf="isSummaryLoaded; else showLoader"
                    class="highlight-card--value">
                    {{(globalSummary ? globalSummary.NewRecovered : 0) |
                    number:'1.0':'en-US'}}
                </span>
                <ng-template #showLoader>
                    <div class="highlight-card--progress">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </div>
                </ng-template>
            </mat-card>
        </div>

        <div class="col-2">
            <mat-card class="highlight-card">
                <h3 class="highlight-card--header">Total Recoveries</h3>
                <span *ngIf="isSummaryLoaded; else showLoader"
                    class="highlight-card--value">
                    {{(globalSummary ? globalSummary.TotalRecovered : 0) |
                    number:'1.0':'en-US'}}
                </span>
                <ng-template #showLoader>
                    <div class="highlight-card--progress">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </div>
                </ng-template>
            </mat-card>
        </div>

    </div>
</section>

<section>
    <h1 class="section-heading">Confirmed Cases</h1>

    <div class="row">
        <div class="col-6">
            <country-summary-card
                [country]="countryWithMaxTotalCases"
                [label]="'Most Confirmed Cases'">
            </country-summary-card>
        </div>
        <div class="col-6">
            <country-summary-card
                [country]="countryWithMinTotalCases"
                [label]="'Least Confirmed Cases'">
            </country-summary-card>
        </div>
    </div>

</section>

<section>
    <h1 class="section-heading">Death Statistics</h1>

    <div class="row">
        <div class="col-6">
            <country-summary-card
                [country]="countryWithMaxTotalDeaths"
                [label]="'Highest Number of Deaths'">
            </country-summary-card>
        </div>
        <div class="col-6">
            <country-summary-card
                [country]="countryWithMinTotalDeaths"
                [label]="'Lowest Number of Deaths'">
            </country-summary-card>
        </div>
    </div>

</section>

<section>
    <h1 class="section-heading">All Countries</h1>

    <div class="row">
        <div class="col-12">
            <countries-table-card
            [countries] = "countrySummaries">
            </countries-table-card>
        </div>
    </div>

</section>