
@import "../../scss/abstracts/variables.scss";


.loading-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: $Z-loadingMask;

    &--text {
        margin: 2rem !important;
    }
}
