@import "../../scss/abstracts/variables.scss";

.country-card {
    min-height: 20rem;
    
    &__header {
        
        &--country {
            margin-right: 2rem;
        }

        &--label {
            font-size: 2rem !important;
            font-weight: 400 !important;
            color: var(--lightTextColor);
        }
    }
    &--country {
        margin: 2rem;
    }

    &__main-statistic {
        margin: 2rem;
    }

    &__statistic-row {
    }
}

.statistic {
    display: grid;

    &--label {
        color: var(--lightTextColor);
        margin-bottom: 1rem;
    }

    &--value {
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    &__progress-bar {
        height: 1rem;
        background-color: var(--lightBackgroundColor);
        border-radius: 1rem;
        margin-bottom: 2rem;

        &--bar {
            height: 100%;
            border-radius: inherit;
        }
    }

    &__progress-label {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        &--icon {
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
            border-radius: 4px;
        }

        &--value {
            margin-left: auto;
        }
    }

    &.blue-yellow {
        & .statistic__progress-bar {
            background-color: var(--accentColor1A);

            &--bar {
                background-color: var(--accentColor1B);
            }
        }

        & .statistic__progress-label--icon {
            &.primary {
                background-color: var(--accentColor1B);
            }

            &.secondary {
                background-color: var(--accentColor1A);
            }
        }
    }

    &.red-purple {
        & .statistic__progress-bar {
            background-color: var(--accentColor2A);

            &--bar {
                background-color: var(--accentColor2B);
            }
        }

        & .statistic__progress-label--icon {
            &.primary {
                background-color: var(--accentColor2A);
            }

            &.secondary {
                background-color: var(--accentColor2B);
            }
        }
    }

    &.green-grey {
        & .statistic__progress-bar {
            background-color: var(--accentColor3A);

            &--bar {
                background-color: var(--accentColor3B);
            }
        }

        & .statistic__progress-label--icon {
            &.primary {
                background-color: var(--accentColor3A);
            }

            &.secondary {
                background-color: var(--accentColor3B);
            }
        }
    }
}
