@import "app/scss/abstracts/variables.scss";
@import "app/scss/abstracts/mixins.scss";
@import "app/scss/components/components.scss";
@import "app/scss/layout/layout.scss";
@import "app/scss/typography/typography.scss";


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-overflow-scrolling: touch;
}

html {
  box-sizing: border-box;
  font-size: 52.5%;

  @include respond(big-desktop) {
    font-size: 50%;
  }

  @include respond(tab-land) {
    font-size: 52.5%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(phone) {
    font-size: 50%;
  }
}

body {
  color: var(--standardFontColor);
  font-weight: 400;
  line-height: 1.7;
  font-size: $default-font-size;
  font-family: "Montserrat", sans-serif;
}

a{
  transition: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
